html, body {
  font-family: 'Roboto', sans-serif;
  margin: 0px;
  word-break: break-word;
}

.container {
  height: 100vh;
}

/* Add projekt button */
.postProjektIcon {
  text-align: center;
}
.postProjektIcon .MuiSvgIcon-root{
  height: 150px;
  width: 150px;
  text-align: center;
}

/* Typography */
a {
  text-decoration: none;
  color: #000;
}
