html, body {
  font-family: -apple-system, BlinkMacSystemFont,  'Roboto', 'Ubuntu', sans-serif;
  margin: 0px;
}

.container {
  width: 100vw;
  height: 100vh;
}

/* Navbar */
.nav-container {
  margin: auto;
}

/* Typography */
a {
  text-decoration: none;
}